.container {
  width: 70%;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  background-color: #fff0e0;
}

.container > h1 {
  margin-bottom: 30px;
  font-size: 40px;
}

.leaderboard {
  display: grid;
  grid-template-columns: 60% 40%;
}

.refresh h2 {
  display: inline;
  margin-right: 10px;
}

.list-scores ul {
  border: 1px solid black;
  list-style-type: none;
  width: 80%;
  padding-left: 0;
}

.list-scores li:nth-child(odd) {
  padding: 7px;
  background-color: #fff;
}

.list-scores li:nth-child(even) {
  padding: 7px;
  background-color: rgb(207, 204, 204);
}

.add-score {
  padding-right: 10px;
}

.add-score h2 {
  margin-top: 0;
}

.form-add div {
  margin-bottom: 30px;
}

input[type="text"] {
  padding: 10px 0;
  width: 100%;
}

input[type="submit"] {
  float: right;
  padding: 5px 15px;
}

.errorDiv,
.submitDivErr {
  color: red;
}

#refreshbtn,
input[type="button"] {
  background-color: #003580;
  color: wheat;
  border-radius: 10px;
}

@media (max-width: 417px) {
  .leaderboard {
    display: flex;
    flex-direction: column;
  }

  .list-scores ul {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 700px;
    margin: auto;
    margin-top: 100px;
  }
}
